/* Auth page container */

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Auth form container */
.auth-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;

}

/* Auth form heading */
.auth-container h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

/* Auth form */
.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Auth form inputs */
.auth-container input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.auth-container input:focus {
    border-color: #007bff;
}

/* Auth form button */
.auth-container button {
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container button:hover {
    background-color: #0056b3;
}

/* Auth form paragraph */
.auth-container p {
    margin-top: 1rem;
    color: #666;
}

/* Auth form link */
.auth-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.auth-container a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 480px) {
    .auth-container {
        padding: 1.5rem;
    }

    .auth-container h1 {
        font-size: 1.75rem;
    }

    .auth-container input,
    .auth-container button {
        font-size: 0.9rem;
    }
}
